div {
    box-sizing: border-box;
}

body {
    background: url('../img/WP-Bgnd1.jpg') no-repeat; /*REMOVE AFTER WP22*/
    padding: 0;
    margin: 0;
    --sidebar-width: 554px;
}

.wrapper {
    color: var(--timer-color);
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: relative;
}

.sidebar {
    position: absolute;
    left: 0;
    width: var(--sidebar-width);
    height: 1080px;
    font-size: 48px;
    background-color: var(--text-background-alt-transparent);
}

#event-logo-container {
    position: absolute;
    background-color: var(--text-color);
    text-align: center;
    letter-spacing: 15px;
    width: var(--sidebar-width);
    height: 120px;
    line-height: 120px;
}

#mushy-logo {
    height: 56px;
    width: 56px;
}

#event-logo-name {
    display: inline-block;
    font-size: 60px;
    color: var(--timer-color);
}

#event-logo-year {
    display: inline-block;
    font-size: 60px;
    color: var(--text-color);
    text-shadow: 0 0 3px var(--text-background), 0 0 3px var(--text-background), 0 0 3px var(--text-background),
        0 0 3px var(--text-background), 0 0 3px var(--text-background), 0 0 3px var(--text-background),
        0 0 3px var(--text-background), 0 0 3px var(--text-background), 0 0 3px var(--text-background);
}

#charity-logo-container {
    position: absolute;
    width: var(--sidebar-width);
    text-align: center;
    padding: 20px;
    bottom: 144px;
}

#charity-logo {
    width: 80%;
}

#donation-total {
    position: absolute;
    bottom: 0;
    background-color: var(--text-color);
    width: var(--sidebar-width);
    height: 144px;
    line-height: 144px;
    font-size: 100px;
    text-align: center;
}

.currently-playing {
    position: absolute;
    padding: 20px;
    font-size: 24px;
    bottom: 0;
    left: var(--sidebar-width);
    color: var(--timer-color);
    text-shadow: 0 0 3px var(--timer-background), 0 0 3px var(--timer-background), 0 0 3px var(--timer-background),
        0 0 3px var(--timer-background), 0 0 3px var(--timer-background), 0 0 3px var(--timer-background);
}

.music-credits {
    position: absolute;
    padding: 20px;
    font-size: 36px;
    bottom: 0;
    right: 0;
    text-align: right;
    color: var(--timer-color);
    text-shadow: 0 0 3px var(--timer-background), 0 0 3px var(--timer-background), 0 0 3px var(--timer-background),
        0 0 3px var(--timer-background), 0 0 3px var(--timer-background), 0 0 3px var(--timer-background);
}

.playlist-link {
    font-family: monospace;
    font-size: 24px;
}

.schedule {
    position: absolute;
    top: 152px;
    left: 42px;
}

.coming-up-title
{
    padding-left: 20px;
    width: 470px;
    height: 60px;
    line-height: 60px;
    font-size: 48px;
    color: var(--text-color);
    background: white;
}

.coming-up-info {
    padding-left: 20px;
    padding-top: 4px;
    min-height: 100px;
    width: 470px;
    background: var(--text-color);
}

.coming-up-runner {
    font-size: 30px;
}

.on-deck-wrapper {
    background: white;
    margin-top: 30px;
}

.on-deck-title {
    color: var(--text-color);
    padding-left: 20px;
}

.on-deck-info {
    margin-bottom: 10px;
    background: var(--text-color);
    padding-left: 20px;
    min-height: 100px;
    width: 470px;
}

.on-deck-runner {
    font-size: 30px;
}

/* INCENTIVES */

.incentives {
    position: absolute;
    top: 152px;
    left: 42px;
    display: none;
}

.incentives-title
{
    padding-left: 20px;
    width: 470px;
    height: 60px;
    line-height: 60px;
    font-size: 48px;
    color: var(--text-color);
    background: white;
}

.incentive-wrapper {
    background: white;
    width: 470px;
}

.incentive {
    margin-bottom: 10px;
    background: var(--text-color);
    padding-left: 20px;
    width: 470px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.incentive-name {
    font-size: 30px;
}

.incentive-progress-full{
    width: 300px;
    height: 44px;
    display: inline-block;
    background: white;
}

.incentive-footer {
    height: 44px;
    width: 440px;
    margin-top: 10px;
}

.incentive-progress {
    width: 50px;
    height: 44px;
    position: absolute;
    display: inline-block;
}

.incentive-progress-text
{
    display: inline-block;
    font-size: 30px;
    height: 44px;
    line-height: 44px;
    width: 125px;
    text-align: center;
    vertical-align: top;
}

/* BID WAR */

.bid-wars {
    position: absolute;
    top: 152px;
    left: 42px;
    display: none;
}

.bid-wars-title
{
    padding-left: 20px;
    width: 470px;
    height: 60px;
    line-height: 60px;
    font-size: 48px;
    color: var(--text-color);
    background: white;
}

.bid-war-name {
    font-size: 30px;
}

.bid-wars-wrapper {
    background: var(--text-color);
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 470px;
}

.bid {
    background: var(--text-color);
    height: 44px;
    width: 440px;
    margin-top: 10px;
}

.bid-wrapper {
    position: relative;
}

.bid-name {
    font-size: 30px;
    position: absolute;
    height: 44px;
    line-height: 44px;
    padding-left: 10px;
    color: var(--text-color);
}

.bid-progress-full{
    width: 300px;
    height: 44px;
    position: relative; /* TODO: yikers */
    background: white;
}

.bid-footer {
    position: absolute;
    height: 44px;
    width: 440px;
    left: 0;
}

.bid-progress {
    width: 50px;
    height: 44px;
    position: absolute;
    left: 0;
    top: 0;
}

.bid-progress-text
{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    height: 44px;
    line-height: 44px;
    width: 140px;
    text-align: center;
}
